:root{
    --navigation-background: #6a6352de;
    --body-background: #dfccb149;
    --title-color1: #6a6352de;
    --title-color2: #98A086;
    --text-color: black;
    --text-color2: white;
    --text-color2-hover: #dfccb1b0;
    --button-background: #98a086cc;
    --footer-background: #98a086d6;
}

body {
    background-color: var(--body-background); 
    margin: 0;
   
}


#work-section-1, #work-section-2{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 40px;

}

#title-work{
    font-family: 'CrimsonTextRegular';
    font-size: 58px;
    color: var(--title-color1);
}

#filter-button{
    width: 124px;
    height: 34px;
    background-color: var(--button-background);
    color: var(--text-color);
    font-family: 'CrimsonTextSemibold';
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

#filter-button:hover{
    background-color: var(--text-color2-hover);
}

/* Själva Grid-nätverket som placerar 3 kort i bredd */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 exakt lika breda kolumner */
    gap: 40px 20px; /* 40px mellanrum vertikalt, 20px horisontellt */
}

/* Det enskilda projektkortet */
.project-card {
    display: flex;
    flex-direction: column;
}

/* Den grågröna rutan för bilden från din skiss */
.project-image-placeholder {
    background-color: #c2c5bb; 
    width: 100%;
    aspect-ratio: 4 / 3; /* Ger en perfekt rektangulär form */
    margin-bottom: 15px;
}

/* Texten under bilden */
.project-title {
    font-size: 1.1rem;
    margin: 0 0 5px 0;
    font-weight: normal;
}

.project-tools {
    font-size: 0.8rem;
    color: var(--title-color1);
    margin: 0;
}